{% extends 'base.html.twig' %}

{% block title %}University proposal{% endblock %}

{% block body %}

	<div class="container">

		<br></br>

		<div class="row">

			<h1 class="col-lg-12 text-center">Universities proposal</h1>

		</div>

		<br></br>

		<div class="row col-lg-12 text-center">

			<p>In case your application has been rejected by Baghdad University, here are other universities in Baghdad that may have some place for you.</p>
			<br></br>
			<p>We apologize and wish you the best for the future.</p>

		</div>

		<div class="row"></div>

			<table class="col-lg-12 table-center table-bordered table-striped">
	            
	                <thead class="thead-light">
	                    <tr class="text-center">
	                        
	                        <th>University Name</th>
	                        <th>Website</th>
	                        <th>Available capacity</th>
	                        
	                    </tr>

	                </thead>

	                <tbody>

	                    <tr>
	                       
	                        <td>University of Baghdad (1958)</td>
	                        <td><a href="http://www.en.uobaghdad.edu.iq">www.en.uobaghdad.edu.iq</a></td>
	                        <td>70615</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>Mustansiriyah University (1963)</td>
	                        <td><a href="http://www.uomustansiriyah.edu.iq">www.uomustansiriyah.edu.iq</a></td>
	                        <td>37572</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>University of Technology (1975)</td>
	                        <td><a href="http://www.uotechnology. edu.iq ">www.uotechnology. edu.iq </a></td>
	                        <td>7116</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>Al-Nahrain University (1987)</td>
	                        <td><a href="http://www.nahrainuniv.edu.iq/ar ">www.nahrainuniv.edu.iq/ar </a></td>
	                        <td>3684</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>AI-iraqia university (1989)</td>
	                        <td><a href="http://www.aliraqia.edu.iq">www.aliraqia.edu.iq</a></td>
	                        <td>23310</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>Al-karkh University for Science (2014)</td>
	                        <td><a href="http://www.kus.edu.iq ">www.kus.edu.iq </a></td>
	                        <td>500</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>University of information Technology & Communications (2014)</td>
	                        <td><a href="http://www.uoitc.edu.iq">www.uoitc.edu.iq</a></td>
	                        <td>500</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>Middle Technical University (2014)</td>
	                        <td><a href="http://www.mtu.edu.iq">www.mtu.edu.iq</a></td>
	                        <td>40758</td>
	                        
	                    </tr>
	                    <tr>
	                       
	                        <td>IbnSina University of Medical and Pharmaceutical Sciences (2014)</td>
	                        <td><a href="http://www.Ibnsina.edu.iq">www.Ibnsina.edu.iq</a></td>
	                        <td>732</td>
	                        
	                    </tr>
	                
	                </tbody>
	            </table>
		</div>
	</div>

{% endblock %}