{% extends 'base.html.twig' %}

{% block title %}Create new Academic Level{% endblock %}

{% block body %}

	<div class="container">

		<br></br>

		<div class="row">

			<h1 class="col-lg-12 text-center">Add new Academic Level</h1>

		</div>

		<br></br>

		<div class="row">

			<div class="col-lg-12">

				{{ include('admission/academic_level/_form.html.twig') }}

			</div>

		</div> 

	

		<div class="row">

			<div class="btn-group d-flex col-lg-4" role="group">

				<a href="{{ path('academic_level_index') }}" class="btn btn-default btn-outline-secondary btn-sm" role="button">Back to Academic Level List</a>

			</div>

		</div>	  	

	</div>

    
{% endblock %}
