<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../public/css/footer.css" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		<div id="header_font"><p> </p>
        </div>
        <a href="routes.yaml.php?cible=style" ><img src="image/AtHomeTransparent.png" id="logo"/></a>
            <ul id="menu">

                <li><p><a href="index.php?cible=maison">Ma Maison</a></p>
                    <ul>
                        <li><a href="index.php?cible=mes maisons">Mes maisons</a></li>
                        <li><a href="index.php?cible=capteurs">capteurs</a></li>
                        <li><a href="index.php?cible=statistics">statistiques</a></li>
                    </ul>
                </li>
                <li><p><a href="index.php?cible=shop">Magasin</a></p>
                    <ul>
                        <li><a href="index.php?cible=shop">Capteurs</a></li>
                        <li><a href="#">factures</a></li>
                    </ul>
                </li>
                <li><p><a href="index.php?cible=myaccount">Mon Compte</a></p>
                    <ul>
                        <li><a href="index.php?cible=profil">profil</a></li>
                        <li><a href="index.php?cible=gestion capteurs">Gestion capteurs</a></li>
                        <li><a href="index.php?cible=gestion capteur utilisateur secondaire">Gestion utilisateurs</a></li>
                        <li><a href="#">Deconnexion</a></li>
                    </ul>
                </li>
                <li><p><a href="index.php?cible=Contact">Contactez Nous</a></p>
                    <ul>
                        <li><a href="index.php?cible=forum">Forum</a></li>
                        <li><a href="index.php?cible=FAQ">FAQ</a></li>
                    </ul>
                </li>
            </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		<footer id="footer">
		<div id="footer_font">
            <p> </p>
		</div>
		<div id="footer2">
			<p> Cranfield, <br> 92130 Issy-les-Moulineaux </p>
		</div>
		<div id="footer1">
			<p> Contact information: <a href="mailto:GroupeProject15@gmail.com" title="Envoyer un mail">athome@gmail.com</a></p>
		</div>
	</footer>
    </body>
	
</html>


