
<div class="row col-lg-12 center-block">

		{{ form_start(form) }}
		    {{ form_widget(form) }}
		    <button class="btn btn-block text-center text-dark btn-outline-secondary">{{ button_label|default('Save') }}</button>
		{{ form_end(form) }}

</div>
