{% extends 'base.html.twig' %}

{% block title %}Edit Document{% endblock %}

{% block body %}

	<div class="container">

		<br></br>

		<div class="row">

    		<h1 class="col-lg-12 text-center">Edit Document</h1>

    	</div>

    	<div class="row col-lg-12">

    		{{ include('document/_form.html.twig', {'button_label': 'Update'}) }}

    	</div>

    	<br></br>

    	<div class="row">

    		<a href="{{ path('document_index') }}" class="btn btn-primary btn-sm" role="button" style="width:100%;">Back to list</a>

    	</div>

    	<div class="row col-lg-12 btn-group-justified btn-center btn-block" style="width:100%;">

    		{{ include('document/_delete_form.html.twig') }}

    	</div>

    </div>

{% endblock %}
