{% extends 'base.html.twig' %}

{% block title %}GEEI MAP{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome on GEEIMAP website</h1>
    <h5>Do you want to connect as :</h5>
    <div class="container col-6 offset-3 mt-3">
    		
        <a href="{{ path('app_login', {'abc':'student'}) }}" role="button" class="btn btn-outline-primary btn-lg btn-block">Student</a>
		<a href="{{ path('app_login', {'abc':'admission'}) }}" role="button" class="btn btn-outline-dark btn-lg btn-block">Admission</a>
    	</div>	
	
</div>

<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark py-1 bg-dark text-white-50 footer">
  <a class="navbar-brand" href="#">University of Baghdad</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
</nav>
{% endblock %}
