{% extends 'base.html.twig' %}

{% block title %}Admission Login{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div>
    	{{ include('public/login.html.twig') }}
	</div>
{% endblock %}