{% extends 'base.html.twig' %}

{% block title %}Student Login{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    {{ include('public/login.html.twig') }}
    <div class="col-6 offset-3 font-weight-bold mt-2" id="student">First time on the website ? <a href="/register">You can register here</a></div>
   </div>
{% endblock %}